.wrapper{
  overflow:hidden;
  position:relative;
  text-decoration:none;

}
header{
background-color: #E0EBE8;
height:150px;
}

.logo img{
  margin-top:20px;
  margin-left:0;
  height:80px;
  float:left;
}

.navigation {
  display:flex;
  justify-content: space-between;
  margin-top: 60px;

}
.navigation li{
list-style: none;


}
.navigation li a{
  text-decoration: none;
  font-size:20px;
  color:#51B59E;
}
section{
  background-color: #E0EBE8;
  padding-bottom: 0;
  padding-top: 0;

}

.cloud{
  position:relative;
  display:inline-block;
}

.fontDetails{
text-align: center;
margin-top: 80px;
color:#51B59E;
}

.fontDetails h2{
  font-family: Rye;
  font-size: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 1px;

}

.fontDetails p{
padding-bottom: 4px;
  font-size: 1.5em;
  margin-top: 1px;
  margin-bottom: 10px;
}


.cloud img{
  position:absolute;
  top:130px;
  left:150px;
}

.secondcloud img{
  margin-top:60px;
}

.landing{
margin-top:100px;
margin-left:20px;
margin-bottom: 0;
}
.secondsection{
  background-color: white;
  text-align: center;
}

.profile img{
  height:180px;
  margin-top:60px;
}

.info{
  font-size: 1.5em;

}
.info h1{
  color:#51B59E;
  font-weight: 400;
}

.info p{
  width:450px;
  color:#625554;
  margin:0 auto;
  font-size:1.0em;
}


.thirdsection{
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
  background-color: #fff;
}

.cando h2{
  line-height:4px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 500;
  color:#4EB29A;
}

.boxing{
  font-weight:200;
}

.boxing img{
  height:130px;
  float:left;
  margin-left: 20px;
  margin-top:40px;
}
.boxing ul{
  float:right;
  list-style: none;
  width:420px;
}

.boxing ul li h1{
  color:#51B59E;

}

.boxing ul li p{
  font-size:1.2em;
  color:#625554;
  letter-spacing: 0.5px;
}
.fourthsection{
background-color: #fff;
margin-top:20px;

}

.boxingtwo ul{
  float:left;
  width:420px;
  list-style:none;
  color:#51B59E;
}

.boxingtwo ul li p{
  font-size:1.2em;
  color:#625554;
  letter-spacing: 0.5px;

}
.boxingtwo img{
float:right;
height:130px;
margin-top: 20px;
}
.fifthsection{
  background-color: white;
}
.boxingthree ul{
  list-style: none;
  text-align: center;
  color:#51B59E;
  margin-top: 100px;
}

.boxingthree ul li h2{
  line-height:4px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 500;

}

.boxingthree ul li h3{
font-size: 20px;
letter-spacing: 2px;
margin-top: 50px;
}

.boxingthree ul li p{
  color:#625554;
  margin:0 auto;
  font-size: 20px;
}
.boxingthree ul li a{
  text-decoration: none;
  position:relative;
  border: 2px solid;
  display: inline-block;
  margin-top: 50px;
  border-radius: 5px;
  padding: 0.7em 1em 0.5em 2em;
  background-color: #4EB29A;
  color:#40966F;
}
.boxingthree ul li a img{
position:absolute;
height: 20px;
top:10px;
left:8px;
}

footer{
background-color: #C5DED7;
margin-top: 100px;
text-align: center;
}

.boxingfour ul{
  list-style: none;
  margin:0 auto;
  text-align: center;
}
.boxingfour ul li{
  list-style: none;
  margin:0 auto;
  display:inline-block;
  margin-top: 50px;
}

.boxingfour ul li a{
margin-right: 70px;
  text-decoration: none;
font-size: 20px;
color:#4EB29A;
}
.boxingfour p{
font-size: 13px;
margin-top:15px;
color:#8C7461;
}
span{
text-decoration: underline;

}
